@{
  Layout = "_Layout";
}
<div class="mainTheme">
  <h1><u>Order Details:</u> </h1>
  <div class="smallBorder">
    <h3>Vendor: @Model["vendor"].Name</h3>
    <h3>Order Title: @Model["order"].Title</h3>
    <h3>Description: @Model["order"].Description</h3>
    <h3>Price: @Model["order"].Price</h3>
    <h3>Date: @Model["order"].Date</h3>
  <form action="/vendors/@Model["vendor"].Id/orders/@Model["order"].Id/delete" method="post">
    <button type="submit" name="button">Remove this order</button>
  </form>
  </div>
  <a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a>
  <p><a href='/vendors'>View all vendors</a></p>
  <p><a href='/'>Return to home Page</a></p>
</div>